<%= require('../../share/top.ejs')({htmlWebpackPlugin}) %>
<%= require('../../components/header.ejs')() %>

<div class="login-main">
    Contents
</div>
<%= require('../../components/concact.ejs')() %>
<%= require('../../components/footer.ejs')() %>
<%= require('../../share/btm.ejs')({path:'sys'}) %>
